#!/usr/bin/env ruby
require 'compass'

Compass.add_project_configuration('config/compass.rb')

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/stylesheets/*' do
  filter :sass, Compass.sass_engine_options
end

compile '/javascripts/*/*' do
  # do nothing here
end

compile '*' do
  if item[:extension] == "haml"
    filter :haml
    layout 'default'
  end
end

route '/stylesheets/*' do
  item.identifier.chop + '.css'
end

route '/javascripts/*/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5