$blueprint-grid-columns: 12;
$blueprint-grid-width: 40px;
$blueprint-grid-margin: 20px;

@import "blueprint/grid";
@import "compass/css3";
@import "compass/reset";
@import "partials/reveal";
@import "partials/tiptip";