%ul#list
  %li
    %button.awesome.everyone.blue{ :"data-list" => "everyone" } Everyone
  %li
    %button.awesome.debuts{ :"data-list" => "debuts" } Debuts
  %li
    %button.awesome.popular{ :"data-list" => "popular" } Popular
  %li.spinner
.clear
#map