%p Google Maps + Dribbble = Mappple

%ul#list
  %li
    %button{ :"data-list" => "everyone" } Everyone
  %li
    %button{ :"data-list" => "debuts" } Debuts
  %li
    %button{ :"data-list" => "popular" } Popular

#map