<div class="shot_info" style="background: url(<%= image_teaser_url %>) no-repeat 0 0">
  <a href="<%= url %>">
    <div class="overlay">
      <h1><%= title %></h1>
      <p class="player"><%= player["name"] %></p>
    </div>
  </a>
</div>