@import "partials/base";

body {
  font-family: "Ubuntu", arial, serif;
  font-size: 14px;
}

a {
  color: #3465a4;
  
  &:hover {
    color: #204a87;
  }
}

#content {
  @include container;
  margin: 0 auto;
}

#error {
  display: none;
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid;
  margin: 15px 0px;
  padding: 15px 10px;
}

#map {
  @include column(12);
  height: 400px;
}

h1, h2, h3, h4, h5, h6 {
  @extend body;
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

header {
  @include container;
  position: relative;
  text-align: center;
  
  h1, h2 {
    @include column(12);
    
    a {
      text-decoration: none;
      color: #000;
    }
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  a#about {
    position: absolute;
    top:20px;
    right: 0;
  }
}

#about_modal {
  h2 {
    background-color: transparent;
    margin-bottom: 0.5em;
  }
  
  p {
    line-height: 1.5em;
    margin-bottom: 0.75em;
  }
}

footer {
  text-align: center;
  
  p {
    line-height: 4em;
  }
}

ul#list {
  list-style: none;
  margin: 2em 0;
  padding: 0 0 1em 0;
  
  li {
    height: 25px;
    display: block;
    clear: none;
    float: left;
    margin: 5px;
    
    &.spinner {
      display: none;
      width: 25px;
      background: #fff image-url("/images/spinner.gif") no-repeat center center;
    }
  }
}

.shot_info {
  width: 200px;
  height: 150px;
  position: relative;
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  .overlay {
    width: 180px;
    height: 130px;
    position: absolute;
    top:0;
    right :0;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    @include transparent;
    @include transition(opacity, 0.2s, linear, 0s);
    
    .player {
      position: absolute;
      bottom: 10px;
    }
  }
  
  &:hover .overlay {
    @include opacity(0.7);
  };
  
  h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0;
  }
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
}

.awesome, .awesome:visited {  
  background: #222 image-url("/images/alert-overlay.png") repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none !important;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,0.5), 0, 1px, 3px);
  @include text-shadow(rgba(0,0,0,0.25), 0, -1px, 1px);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  
  &:hover {
    background-color: #111;
    color: #fff;
  }
  
  &:active {
    top: 1px;
  }
  
  &.small {
    font-size: 11px;
    padding: 0;
  }
  
  &.large {
    font-size: 14px;
    padding: 8px 14px 9px;
  }
  
  &.green {
    background-color: #91bd09;
    
    &:hover {
      background-color: #749a02;
    }
  }
  
  &.blue {
    background-color: #2daebf;
    
    &:hover {
      background-color: #007d9a;
    }
  }
  
  &.red {
    background-color: #e33100;
    
    &:hover {
      background-color: #872300;
    }
  }

  &.magenta {
    background-color: #a9014b;
    
    &:hover {
      background-color: #630030;
    }
  }
  
  &.orange {
    background-color: #ff5c00;
    
    &:hover {
      background-color: #d45500;
    }
  }

  &.yellow {
    background-color: #ffb515;
    
    &:hover {
      background-color: #fc9200;
    }
  }
}


